* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Product Sans', sans-serif;
}

body {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.title {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
}

.heading {
    font-size: 24px;
    color: #555;
    margin-bottom: 20px;
}

.form {
    margin-bottom: 20px;
}

.input-text {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.language-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.translate-btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

.translate-btn:hover {
    background-color: #45a049;
}

.output-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    text-align: center;
}

.output-text {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.copy-btn {
    padding: 10px 15px;
    background-color: #1E88E5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.copy-btn:hover {
    background-color: #0d73b8;
}

footer {
    margin-top: 20px;
    font-size: 14px;
}

footer a {
    color: #1E88E5;
    text-decoration: none;
    }
